{% extends 'blog/base.html' %}
{% load emoji_tags %}
{% block content %}
<div class='profile'>

   {% if profile.profile_pic and profile.profile_pic != 'False' %}
    <img class='thumb-nail' src="{{ profile.profile_pic.url }}"/>
   {% endif %}

   <p>{{ profile.bio|linebreaksbr|emoji_replace }}</p>
   <p>{{ profile.city}}</p>
   <p>{{ profile.country }}</p>
</div>
<br>
<br>

 {% for post in posts %}
     <div class="post">
         <div class="date">
             <p>posted on {{ post.published_date }}</p>
         </div>
         <h1><a class="post-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title|emoji_replace }}</a></h1>
           {% if post.image and post.image != 'False' %}

              <img class='list-image' src="{{ post.image.url }}"/>

           {% endif %}
         <p>{{ post.text|linebreaksbr|emoji_replace }}</p>
     </div>
 {% endfor %}

{% endblock %}
