{% extends 'blog/base.html' %}
{% load emoji_tags %}

{% block content %}
<div class="posts">

    {% for post in posts %}
    <header class="post-header">
        <h3><a class="post-title" href="{% url 'post_detail' pk=post.pk %}">{{ post.title|emoji_replace }}</a></h3>
        <p class="post-meta">
          By <a class="post-author" href="{% url 'user_profile' pk=post.author.id %}">{{ post.author.username }}</a> on {{ post.published_date }}</p>
        </p>
      </header>

        <div class="post-description">
          <p>{{ post.text|linebreaksbr|emoji_replace }}</p>
              {% if post.image and post.image != 'False' %}
                 <img class='list-image' src="{{ post.image.url }}"/>
              {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
