{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<header class="post-header">
  <h2 class="post-title">New post</h3>
</header>
<div>
  <fieldset>
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="draft" class="pure-button button-xsmall">Save Draft</button>
        <button type="submit" name="publish" class="pure-button button-xsmall">Publish Post</button>
    </form>
  </fieldset>
</div>

    <script src="{% static "javascript/post_edit.js" %}"></script>
{% endblock %}
