#blog-title {
    color: #FCA205;
    font-family: 'Permanent Marker', cursive;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #0FBF59;
    margin-top: 0;
    padding: 15px 15px 15px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 48pt;
    text-decoration: none;
}

.user-links {
  color: #ffffff
}

.content {
    margin-left: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.list-image {
  width:150px;
  height:auto;
}

.detail-image {
  width:250px;
  height:auto;
}
