#blog-title {
    color: #FCA205;
    font-family: 'Permanent Marker', cursive;
}

body {
    padding-left: 15px;
}

.page-header {
    background-color: #0FBF59;
    margin-top: 0;
    padding: 15px 15px 15px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 48pt;
    text-decoration: none;
}

.user-links {
  color: #ffffff
}

.content {
    margin-left: 30px;
}

h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.post .list-image {
  width: 150px;
  height: auto;
}

.post .detail-image {
  width: 250px;
  height: auto;
}

.row .col-md-8 .profile .thumb-nail {
  width: 100px;
  height: auto;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 16px;
    font-size: 16px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

    position: relative;
    display: inline-block;
    position: absolute;
    right: 20;
    font-family: 'Open Sans', sans-serif;
    background-color: #0FBF59;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    white-space: nowrap;
    left: auto;
    right:0;
    background-color: #F2F3F4;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    font-family: 'Open Sans', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
